<h1> hello world</h1>
satus:<%= get_visibility_status(@subject.visible) %>
<table style="width:50%">
  <tr>
    <th>id</th>
    <th>name</th>
  </tr>
<% @subject.pages.each do |o| %>

<tr>
  <td><%= o.id  %></td>
  <td><%= o.name  %></td>
</tr>

<% end %>
</table>
